
<h1>Characters</h1>
<table>
    <tr>
        <th>Character ID</th>
        <th>Account Username</th>
        <th>Character Name</th>
        <th>Level</th>
        <th>Class</th>
        <th>Guild</th>
        <th>Edit/Delete</th>
    </tr>
    <tr>
        <td>1</td>
        <td>johnsmith</td>
        <td>Player1</td>
        <td>50</td>
        <td>Mage</td>
        <td>Sky Players</td>
        <td>
            <button onclick="editCharacter(1)">Edit</button>
            <button onclick="deleteCharacter(1)">Delete</button>
        </td>
    </tr>
    <tr>
        <td>2</td>
        <td>buffwizard</td>
        <td>Player2</td>
        <td>41</td>
        <td>Paladin</td>
        <td>N/A</td>
        <td>
            <button onclick="editCharacter(2)">Edit</button>
            <button onclick="deleteCharacter(2)">Delete</button>
        </td>
    </tr>
    <tr>
        <td>3</td>
        <td>alex456</td>
        <td>Player3</td>
        <td>19</td>
        <td>Rogue</td>
        <td>N/A</td>
        <td>
            <button onclick="editCharacter(3)">Edit</button>
            <button onclick="deleteCharacter(3)">Delete</button>
        </td>
    </tr>
    <tr>
        <td>4</td>
        <td>maxrebo</td>
        <td>Player4</td>
        <td>28</td>
        <td>Warrior</td>
        <td>Coffin Break</td>
        <td>
            <button onclick="editCharacter(4)">Edit</button>
            <button onclick="deleteCharacter(4)">Delete</button>
        </td>
    </tr>
</table>

<div id="updateCharacterForm">
    <form method="post">
        <fieldset>
            <legend>Update Character</legend>
            <p>
                <label for="characterID">Character ID:</label>
                <select id="characterID" name="characterID">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </p>
            <p>
                <label for="accountName">Account Name:</label>
                <select id="accountName" name="accountName">
                    <option value="johnsmith">johnsmith</option>
                    <option value="buffwizard">buffwizard</option>
                    <option value="alex456">alex456</option>
                    <option value="maxrebo">maxrebo</option>
                </select>
            </p>
            <p>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name">
            </p>
            <p class="level-wrapper">
                <label for="level">Level:</label>
                <button type="button" class="level-button" onclick="decreaseLevel()">-</button>
                <input type="text" id="level" name="level">
                <button type="button" class="level-button" onclick="increaseLevel()">+</button>
            </p>
            <p>
                <label for="className">Class Name:</label>
                <select id="className" name="className">
                    <option value="Mage">Mage</option>
                    <option value="Warrior">Warrior</option>
                    <option value="Rogue">Rogue</option>
                    <option value="Paladin">Paladin</option>
                </select>
            </p>
            <p>
                <label for="guildName">Guild Name:</label>
                <select id="guildName" name="guildName">
                    <option value="Sky Players">Sky Players</option>
                    <option value="Coffin Break">Coffin Break</option>
                    <option value="Deadly Empire">Deadly Empire</option>
                    <option value="Guild Mesh">Guild Mesh</option>
                </select>
            </p>
            <p>
                <label>Hats</label>
                <input type="checkbox">Pointy Wizard Hat </br>
                <input type="checkbox">Pirate Bandana </br>
                <input type="checkbox">Helm of Arcandor
            </p>
            <button type="button" onclick="editCharacter(document.getElementById('characterID').value)">Autofill Character Data</button>
            <button type="submit">Update Character</button>
        </fieldset>
    </form>
</div>

<form method="post">
    <fieldset>
        <legend>Add New Character</legend>
        <p>
            <label for="accountName">Account Name:</label>
            <select id="accountName" name="accountName">
                <option value="johnsmith">johnsmith</option>
                <option value="buffwizard">buffwizard</option>
                <option value="alex456">alex456</option>
                <option value="maxrebo">maxrebo</option>
            </select>
        </p>
        <p>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name">
        </p>
        <p class="level-wrapper">
            <label for="level">Level:</label>
            <button type="button" class="level-button" onclick="decreaseLevel()">-</button>
            <input type="text" id="level" name="level">
            <button type="button" class="level-button" onclick="increaseLevel()">+</button>
        </p>
        <p>
            <label for="className">Class Name:</label>
            <select id="className" name="className">
                <option value="Mage">Mage</option>
                <option value="Warrior">Warrior</option>
                <option value="Rogue">Rogue</option>
                <option value="Paladin">Paladin</option>
            </select>
        </p>
        <p>
            <label for="guildName">Guild Name:</label>
            <select id="guildName" name="guildName">
                <option value="Sky Players">Sky Players</option>
                <option value="Coffin Break">Coffin Break</option>
                <option value="Deadly Empire">Deadly Empire</option>
                <option value="Guild Mesh">Guild Mesh</option>
            </select>
        </p>
        <p>
            <label>Hats</label>
            <input type="checkbox">Pointy Wizard Hat </br>
            <input type="checkbox">Pirate Bandana </br>
            <input type="checkbox">Helm of Arcandor
        </p>
        <button>Add Character</button>
    </fieldset>
</form>