<h1>Classes</h1>
<table>
    <tr>
        <th>Class ID</th>
        <th>Name</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Mage</td>
        <td>Cast arcane spells to disrupt your enemy and inflict immense damage</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Warrior</td>
        <td>Specializing in physical damage, this class is very well rounded</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Rogue</td>
        <td>Hiding in the shadows, this class relies on the darkness to navigate</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Paladin</td>
        <td>Drawing power from the light, this class allows you to both heal and deal damage</td>
    </tr>
</table>

<form method="post">
    <fieldset>
        <legend>Add New Class</legend>
        <p>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name">
        </p>
        <p>
            <label for="description">Description:</label>
            <textarea id="description" name="description"></textarea>
        </p>
        <button type="submit">Add Class</button>
    </fieldset>
</form>