<h1>Mega Magic Online Database Management</h1>

<p>
    This website provides evrything you need to manage the Mega Magic Online
    database.
</p>
<p>
    A project for CS 340 by Ryan Giard and Michael Hunter (group 91).
</p>
