<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Mega Magic Online</title>
    <link href="/CSS/style.css" rel="stylesheet" />
</head>
<body>
    <nav>
        <a href="/">Home</a> 
        <a href="/accounts">Accounts</a> 
        <a href="/characters">Characters</a> 
        <a href="/guilds">Guilds</a> 
        <a href="/classes">Classes</a> 
        <a href="/hats">Hats</a>
    </nav>
    
    {{{body}}}

</body>
</html>